    main {
        min-height: 87vh;
    }

    #primary-main {
        background-color: #fff !important;
    }

    .container {
        max-width: 900px;
        ;
    }

    header {
        z-index: 10;
    }

    .alert {
        position: absolute;
        width: fit-content;

        z-index: 20;

        animation: alert 0.2s forwards;
        transform: translateX(-500%);
        opacity: 1;
    }

    @keyframes alert {
        0% {
            transform: translateY(-10%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .avatar {
        width: 260px;
        height: 260px;
        border-radius: 5%;
        object-fit: cover;
    }

    .hideFlash {
        animation: alertHide 0.2s forwards;
    }

    @keyframes alertHide {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(+50%);
            opacity: 0;
            display: none;
            visibility: hidden;
        }
    }

    @media (max-width: 840px) {
        .avatar {
            width: 200px;
            height: 200px;
        }
    }

    @media (max-width: 576px) {
        .avatar {
            width: 100%;
            height: auto;
        }
    }

    .header-menu-mobile {
        display: none;
    }

    .menu-items-mobile {
        width: 300px;
        position: fixed;
        top: 0;
        transform: translateX(-300px);
        left: 0px;
        height: 100vh;
        background-color: #084298;
        opacity: 0.99;
        padding: 20px 40px;
        z-index: 3;
        transition: 0.2s;
    }

    .menu-items-mobile.active {
        transform: translateX(0px);
        transition: 0.2s;
    }

    .menu-items-mobile a {
        margin-top: 28px;
    }

    .logo-mobile {
        padding-bottom: 80px !important;
    }

    @media (max-width: 768px) {
        .header-menu-desktop {
            display: none !important;
        }

        .header-menu-mobile {
            display: block;
        }

        .header-menu-mobile button {
            border: none;
            background: rgba(0, 0, 0, 0);
        }

        .header-menu-mobile svg {
            color: #fff;
            width: 30px;
            height: 30px;
        }
    }
